<h1>New game</h1>
<div class="list-inline">
 <% @letters.each do |letter| %>
  <p class="letter"> <%= letter %></p>
  <% end %>
</div>
<div class="container">
  <p> What is the longest word you can find? </p>
  <form action="/score" class="form" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :grid, @letters %>
    <input type="text" name="new" class="input">
    <input type="submit" value="Play" class="btn">
  </form>
</div>
