// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style: none;
}

.list-inline {
  display: flex;
  justify-content: space-around;
}

.letter {
  background-color: rgb(30,144,255);
  padding: 10px;
  border-radius: 3px;
  color: white;
  width: 35px;
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 5px 5px 5px rgb(70,130,180);
}

body {
  font-family: 'Open Sans', sans-serif;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.btn {
  background-color: rgb(65,105,225);
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
}

.input {
  width: 100%;
  margin-right: 10px;
  font-size: 25px;
}

.index-link {
  color: rgb(65,105,225);
}
